
@tailwind base;
@tailwind components;
@tailwind utilities;

.game{
    background-image: url(../image/Vector.png);
    background-position:  left;
    background-repeat: no-repeat;
    background-size: cover;
}
.create{
  background-image: url(../image/Vector.png);
  background-position:  left;
  background-repeat: no-repeat;
  background-size: cover;
}